.footer {
    margin-top: 5rem;
    background-color: rgba(228, 223, 223,0.5);
    padding-top: 30px;
    ul{
        h4{
            font-size: 20px;
            font-weight: 700;
            color:  #b43b3b;
        }
        li{
            list-style-type: none;
        }
    }
}